*{
    background-color: black;
}

.toggle {
    display: none;
}

.toggle + label {
    width: 32px;
    height: 20px;
    background-color: lightgray;
    display: block;
    position: relative;
    border-radius: 20px;
    padding: 2px;
    transition: 200ms;
    cursor: pointer;
}

.toggle + label::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    display: block;
    border-radius: 50%;
    right: unset;
    left: 2px;
    top: 2px;
    transform: 200ms;
}

.toggle:checked + label{
    background: blue;
}

.toggle:checked + label::before{
    content: '';
    left: calc(100% - 22px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.100);
}